%h2 Add business

=bootstrap_form_for(@business) do |f|
  = f.text_field :name
  = f.select :price, (1..4).map{|num| ['#{num} #{pluralize(num, 'star')}', num]}
    , include_blank: true
  = f.text_area :description, rows: 5
  = f.submit
