%h2= @business.name

.full-business-description
  %p.price= "$" * @business.price
  - if !@reviews.empty?
    %p.rating 
      #{average_rating(@reviews)} / 5 
      %span from #{@reviews.count} #{"review".pluralize(@reviews.count)}
  %p.description= @business.description

.reviews
  %h4 Add Review
  = form_tag(business_reviews_path(@business), method: :post, id: 'add-review') do 
    = label_tag :rating
    = select_tag :rating, options_for_select((1..5).map{|num| ["#{num} #{'star'.pluralize(num)}", num]})
    = label_tag :content, 'Description'
    = text_area_tag :content, nil, rows: 5
    = submit_tag
  %h3 Recent reviews
  %ul.reviews
    - @reviews.each do |review|
      %li.review
        = link_to review.user.username, user_path(review.user), class: 'user'
        .content
          %p.rating
            #{review.rating} / 5
            %span.date left #{time_ago_in_words(review.created_at)} ago
          %p.description= review.content

  
  